body {
font-family: 'PT Sans', sans-serif;

}

/* -- Bandeau -- */

.bd {
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: 148px;
    margin-right: 75px;
    padding: 20px;


}

.menu {
    justify-content: space-around;
    display: flex;
}

.menu-text {
    text-decoration-color: #8a0000;
}

.slide {
    background-color: black;

}



.main {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 148spx;
    margin-right: 75px;
    padding: 20px;

}

/* -- Formulaire -- */

.contenerform {
    background-color: #f3f3f3;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
}
