
/*En tête */

header {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}

header img{
    width: 10%;
    height: 10%;

}


header h1{
    text-align: center;
    color:#000;
    width: 250px;
}
/* Footer */
footer p{
    color : #8c8989;
    text-align: center;
}

footer p span {
    color :#CC201C;
}

footer .footerimg1 {
    text-align: center;
    margin-top: 50px;
}
footer .footerimg2 {
 
    margin-top: 20px;
    margin-bottom: 50px;
}

footer .section_footer_colored{
    width: 100%;
    min-height: 200px;
    padding: 0;
    background-color:#282a2b;
}

footer .section_footer_colored a {
    text-decoration: none;
    color : #bfbfbf;
}

footer .mention_padding{
    padding-top: 30px;
}

footer .linkfooter:hover{
    color: #CC201C;
    transition: all 0.5 ease;
}


/* button mois*/

button a
{
    text-decoration: none;
    color: #CC201C;

}

button
{
    padding: 20px 53px;

}
.buttonhover:hover {
    background-color: #CC201C;
    transition: all 0.5s ease;

}

.buttonhover:hover a {
    color : #FFF;
}



.mois
{
    margin: 0;
    padding: 0;
    background-color:#FFF;
}

.mois li
{
    display: inline-block;
    width: 8.06%;
    color: black;
    text-align: center;
    margin: 0;
    padding:  0;
    background-color:#FFF; 
}



/* jour de la semaine */

.journee
{
    margin: 0;
    
    background-color:#CC201C;
}

 ul{
    padding:0;
}
.journee li
{
    display: inline-block;
    width: 13.5%;
    color: white;
    text-align: center;
    margin: 0;
    padding:  10px 0;
     

}

/* tous les jour du mois */

.SemaineA 
{
    padding:  0;
    background: #C0C0C0;
    margin: 0;
}

.SemaineB
{
    background-color: #808080;
    padding:  0;
    background: #808080;
    margin: 0;

}


.SemaineA li , .SemaineB li
{
    
    display: inline-block;
    width: 13.5%;
    text-align: center;
   
    font-size:12px;
    line-height: 70px;
   
   
}

.Jour1:hover  /*Il faudrait tout changer faire un jour = un bloc */
{
    background-color: white;
    color: #cc201c;
}

.Jour2:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour3:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour4:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour5:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour6:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour7:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour8:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour9:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour10:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour11:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour12:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour13:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour14:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour15:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour16:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour17:hover
{
    background-color: white;
    color: #cc201c;
}
.Jour18:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour19:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour20:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour21:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour22:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour23:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour24:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour25:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour26:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour27:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour28:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour29:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour30:hover
{
    background-color: white;
    color: #cc201c;
}

.Jour31:hover
{
    background-color: white;
    color: #cc201c;
}





.jourji
{
    color: white;
    padding: 5px;
    background: #7520B2;
    border-radius: 20px;
}
    



/* formulaire */

body{
font-family: 'PT Sans', sans-serif;
width : 100%;
padding: 0;
margin: 0;

}
body h1, body h2, body h3, body h4, body h5, body h5{
    font-family: 'Antic Slab', sans-serif;
}

/* -- Bandeau -- */

.bd {
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: 148px;
    margin-right: 75px;
    padding: 20px;

    height: 30px;
    align-content: center;

}

.menu {
    float: left;
    display: flex;
}

.menu1 {
    color: #da0000;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -9px;
}

.slide {
    background-color: black;

}

.main {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 148spx;
    margin-right: 75px;
    padding: 20px;

}

/* -- Formulaire -- */

.contenerform {
    background-color: #f3f3f3;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
}